openapi: 3.0.1
info:
  title: Gravitate Health Supporting material manager API Interface
  version: MVP3
  description: Gravitate Health supporting material manager.
  contact: {}
servers:
  - url: https://fosps.gravitatehealth.eu
paths:
  /smm/resource/{resourceId}:
    get:
      parameters:
        - in: path
          name: resourceId
          schema:
            type: integer
          required: true
          description: Numeric ID of the user to get
      tags:
        - Preprocessing
      description: Returns the specified resource by id.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaterialURL'

  /smm/resource/create:
    post:
      description: Create a new resource in the FHIR server.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                fileInfo:
                  $ref: '#/components/schemas/FileEspec'
                  description: Aditional information about the file to be stored in the FHIR server
                file:
                  type: string
                  format: binary
                  description: Supporting Matterial file to be uploaded
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileEspec'

components:
  schemas:
    MaterialURL:
      type: object
      properties:
        url:
          type: string
          description: Response to dowload the resource
      example:
        url: https://fosps.gravitatehealth.eu/http://gh-bucket/example.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=9RLSE0EPDCNSV3YG3TK4%2F20240402%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240402T102957Z&X-Amz-Expires=43200&X-Amz-Security-Token=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3NLZXkiOiI5UkxTRTBFUERDTlNWM1lHM1RLNCIsImV4cCI6MTcxMjA5NjEyMSwicGFyZW50IjoiYWRtaW4ifQ.CGeQRN_eHP6uhhK0uemASS25MRuq96I12fsYO1P7EaQgX5Hj16Sqs0Imf8bqjaoScACq-JzZCpxZzEgyvScX1w&X-Amz-SignedHeaders=host&versionId=null&X-Amz-Signature=8e9f5bba8a49ef1c9a1fa63738c88ba7057ed3d5dd11ced95a4ca3072207599e

    FileEspec:
      type: object
      properties:
        attachment:
          type: object
          properties:
            contentType:
              type: string
              description: Type of the content
            language:
              type: string
              description: Language of the content
            data:
              type: string
              description: Data of the content, if data is provided, url and hash are not permitted
            url:
              type: string
              description: URL of the content, if url is provided, data and hash are not permitted
            size:
              type: integer
              description: Size of the content
            hash:
              type: string
              description: Hash of the content, if hash is provided, data and url are not permitted
            title:
              type: string
              description: Title of the content
            creation:
              type: string
              description: Creation date of the content, generated by the server
            height:
              type: integer
              description: Height of the content, optional
            width:
              type: integer
              description: Width of the content, optional
            frames:
              type: integer
              description: Frames of the content, optional
            duration:
              type: integer
              description: Duration of the content, optional
            pages:
              type: integer
              description: Number of pages in the content
  parameters:
    resourceId:
      in: path
      name: resourceId
      description: Id to find in the FHIR server the associated surting material.
      required: true
      schema:
        type: string
